text{
	font-size:12px;
}
.mainBars rect{
  shape-rendering: auto;
  fill-opacity: 0;
  stroke-width: 0.5px;
  stroke: rgb(0, 0, 0);
  stroke-opacity: 0;
}
.subBars{
	shape-rendering:crispEdges;
}
.edges{
	stroke:none;
	fill-opacity:0.5;
}
.header{
	text-anchor:middle;
	font-size:16px;
}
line{
	stroke:grey;
}


.div1 {
	    width: 350px;
	    height: 40px;
	    padding: 10px;
	    margin: 10px;
	    border: 1px solid #aaaaaa;
	    display: inline-block;
}
.cell_feature {
	width: 45px;
    display: inline-block;
	margin-right: 1px;
	margin-left: 1px;
	text-align: center;
}
 /*alumni: "#3366CC",award: "#DC3912", hici: "#FF9900", ns: "#109618", pub: "#990099", pcp: "#0099C6" };*/
#alumni{
	color: white;
	background-color:#3366CC ;
}
#award{
	color: white;
	background-color:#DC3912;
}
#hici{
	color: white;
	background-color:#FF9900;
}
#ns{
	color: white;
	background-color:#109618;
}
#pub{
	color: white;
	background-color:#990099;
}
#pcp{
	color: white;
	background-color:#0099C6;
}

#bp_body{
	background-color: #c0cfe4;
	
	display: inline-block;
}

.Fei_note{
	width: 120px;
    left: 970px;
    top: 360px;
    padding-right: 0px;
    margin-right: 0px;

}
